.idea
vendor
/src/php/vendor
/composer.lock
/src/golang/basic/basic
/src/rust/*/bin
/src/rust/*/target
/src/typescript/node_modules
/src/typescript/dist
/venv
.vscode
/node_modules
/examples/scratch/*


src/typescript/node_modules
src/typescript/dist

src/rust/*/bin
src/rust/*/target

src/crystal/*/sudoku
src/crystal/*/sudoku.dwarf

/server/target
/server/bin
/var/*
.DS_Store